@charset "UTF-8";
/**
* Eric Meyer's Reset CSS v2.0
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section, time {
  display: block;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* meyerweb css reset end */

textarea:focus, input:focus {
  outline: 0;
}

input {
  border-width: 0;
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* ie 6/7 */
}

embed,
img,
object,
video {
  max-width: 100%;
}
sup {
  font-size: 58.3%;
  vertical-align: text-top;
}
sub {
  font-size: 58.3%;
  vertical-align: text-bottom;
}
.no-space-between-inline-blocks {
  *letter-spacing: normal; /*reset IE < 8*/
  letter-spacing: -0.31em; /*webkit*/
  word-spacing: -0.43em; /*IE < 8 && gecko*/
}
/*restore spacing on inner elements*/
.no-space-between-inline-blocks > * {
  letter-spacing: normal;
  word-spacing: normal;
}
.displace {
  left: -5000px;
  position: absolute;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-size: 16px;
}
body {
  min-width: 1125px;
  color: #fbfafa;
  font-family: Rasa, serif;
  font-size: 25.01847px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
}
body {
  float: none;
  height: auto;
  margin: 41px auto 0;
  position: relative;
  width: 100%; /* 1125px / 1125px = 100% */
}
.artboard-3 {
  position: relative;
}
.l-unconstrained {
  position: relative;
}
.l-constrained {
  margin: 0 auto;
  position: relative;
  width: 1125px;
}
.header {
  margin: 0 auto;
  position: relative;
  right: 17px;
  width: 953px;
}
.ellipse-1 {
  float: left;
  height: 53px;
  width: 53px;
  border: 1px solid #000000; /*stroke*/
  -webkit-border-radius: 26.57px;
  -moz-border-radius: 26.57px;
  border-radius: 26.57px;
  background: url(images/ellipse_1.png) no-repeat -0.5px -0.5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.home {
  float: left;
  margin: 21px 0 0 28px;
  color: #030303;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.text {
  float: left;
  margin: 21px 0 0 28px;
  color: #030303;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.text-2 {
  float: left;
  margin: 21px 0 0 28px;
  color: #030303;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.contact {
  float: left;
  margin: 21px 0 0 28px;
  color: #030303;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.rectangle-2-copy-holder {
  float: right;
  margin: 12px 0 0;
  min-height: 29px;
  position: relative;
  width: 81px;
  -webkit-border-radius: 14.5px;
  -moz-border-radius: 14.5px;
  border-radius: 14.5px;
  background: #e0dfe0;
  color: #030303;
  font-size: 21px;
  font-weight: bold;
  line-height: 29px;
  text-align: center;
}
.rectangle-2-holder {
  float: right;
  margin: 12px 21px 0 0;
  min-height: 29px;
  padding: 5px 8px 4px;
  position: relative;
  width: 301px;
  -webkit-border-radius: 14.5px;
  -moz-border-radius: 14.5px;
  border-radius: 14.5px;
  background: #e0dfe0;
}
.search {
  float: center;
  margin: 2px 4px -3px -1px;;
}
.text-3 {
  color: #030303;
  font-size: 21px;
  font-weight: bold;
  text-align: left;
}
.my-work {
  margin: 31px 0 0;
  position: relative;
}
.group-3 {
  position: relative;
}
.festivalposts {
  position: relative;
}
.my-work-2 {
  position: relative;
}
.col-5 {
  float: left;
  margin: 194px 0 0;
  position: relative;
  width: 410px;
}
.row-5 {
  position: relative;
}
.rectangle-3-copy-3 {
  float: left;
  margin: 16px 20px 0 0;
  width: 172px;
}
.rectangle-3 {
  float: left;
  width: 218px;
}
.row-6 {
  margin: 202px 0 0;
  position: relative;
}
.rectangle-3-copy-5 {
  float: left;
  margin: 16px 20px 0 0;
  width: 172px;
}
.rectangle-3-copy-5-2 {
  float: left;
  width: 218px;
}
.col-4 {
  float: right;
  position: relative;
  width: 710px;
}
.text-4 {
  margin: 0 0 0 25px;
  color: #111010;
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}
.text-5 {
  margin: 42px 0 0 32px;
  color: #000000;
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
}
.row-9 {
  margin: 13px 0 0 15px;
  position: relative;
}
.row-9 > * {
  float: left;
  margin: 0 20.3px 0 0;
}
.row-9 > *:last-child {
  margin-right: 0 !important;
}
.rectangle-3-copy {
  width: 268px;
}
.rectangle-3-copy-2 {
  width: 216px;
  margin-top: 26px !important;
}
.rectangle-3-copy-4 {
  width: 170px;
  margin-top: 42px !important;
}
.row-11 {
  margin: 14px auto 0;
  position: relative;
  right: 26.5px;
  width: 579px;
}
.col-8 {
  float: left;
  position: relative;
  width: 225px;
}
.row-13 {
  margin: 0 auto;
  position: relative;
  text-align: center;
}
.row-13 > * {
  margin: 0 9.3px 0 0;
}
.row-13 > *:last-child {
  margin-right: 0 !important;
}
.ellipse-3-copy-2 {
  height: 14px;
  width: 15px;
  -webkit-border-radius: 7.29px/7.01px;
  -moz-border-radius: 7.29px/7.01px;
  border-radius: 7.29px/7.01px;
  background: #dfdede;
}
.ellipse-3 {
  height: 14px;
  width: 15px;
  -webkit-border-radius: 7.29px/7.01px;
  -moz-border-radius: 7.29px/7.01px;
  border-radius: 7.29px/7.01px;
  background: #050001;
}
.ellipse-3-copy {
  height: 14px;
  width: 15px;
  -webkit-border-radius: 7.29px/7.01px;
  -moz-border-radius: 7.29px/7.01px;
  border-radius: 7.29px/7.01px;
  background: #dfdede;
}
.row-13 > * {
  display: inline-block;
  vertical-align: top;
}
.text-6 {
  margin: 75px 0 25px;
  color: #000000;
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
}
.rectangle-1-copy-holder {
  float: right;
  margin: 7px 0 0;
  min-height: 40px;
  width: 195px;
  -webkit-border-radius: 19.89px;
  -moz-border-radius: 19.89px;
  border-radius: 19.89px;
  background: #2d2628;
  color: #fcf9fa;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
}
.row-4 {
  margin: 43px 0 0 15px;
  position: relative;
}
.row-4 > * {
  float: left;
  margin: 0 20.3px 0 0;
}
.row-4 > *:last-child {
  margin-right: 0 !important;
}
.rectangle-3-copy-5-3 {
  width: 268px;
}
.rectangle-3-copy-5-4 {
  width: 216px;
  margin-top: 26px !important;
}
.rectangle-3-copy-5-5 {
  width: 170px;
  margin-top: 42px !important;
}
.row-10 {
  margin: 15px 0 0;
  position: relative;
}
.col-7 {
  float: left;
  margin: 0 121px 0 0;
  position: relative;
  width: 302px;
}
.row-12 {
  margin: 0 auto;
  position: relative;
  text-align: center;
}
.row-12 > * {
  margin: 0 9.3px 0 0;
}
.row-12 > *:last-child {
  margin-right: 0 !important;
}
.ellipse-3-copy-3 {
  height: 14px;
  width: 15px;
  -webkit-border-radius: 7.29px/7.01px;
  -moz-border-radius: 7.29px/7.01px;
  border-radius: 7.29px/7.01px;
  background: #dfdede;
}
.ellipse-3-copy-3-2 {
  height: 14px;
  width: 15px;
  -webkit-border-radius: 7.29px/7.01px;
  -moz-border-radius: 7.29px/7.01px;
  border-radius: 7.29px/7.01px;
  background: #050001;
}
.ellipse-3-copy-3-3 {
  height: 14px;
  width: 15px;
  -webkit-border-radius: 7.29px/7.01px;
  -moz-border-radius: 7.29px/7.01px;
  border-radius: 7.29px/7.01px;
  background: #dfdede;
}
.row-12 > * {
  display: inline-block;
  vertical-align: top;
}
.text-8 {
  margin: 53px 0 0;
  color: #000000;
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
}
.rectangle-1-copy-holder-2 {
  float: left;
  margin: 6px 0 0;
  min-height: 40px;
  width: 195px;
  -webkit-border-radius: 19.89px;
  -moz-border-radius: 19.89px;
  border-radius: 19.89px;
  background: #2d2628;
  color: #fcf9fa;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
}
.socialmedia-post {
  margin: 24px auto 0;
  position: relative;
  width: 1125px;
}
.row {
  position: relative;
}
.row > * {
  float: left;
  margin: 0 74px 0 0;
}
.row > *:last-child {
  margin-right: 0 !important;
}
.rectangle-7 {
  width: 267px;
  margin-top: 88px !important;
}
.rectangle-7-2 {
  width: 365px;
}
.rectangle-7-3 {
  width: 267px;
  margin-top: 88px !important;
}
.group-4 {
  margin: 15px auto 0;
  position: relative;
  text-align: center;
}
.group-4 > * {
  margin: 0 9.3px 0 0;
}
.group-4 > *:last-child {
  margin-right: 0 !important;
}
.ellipse-3-copy-4 {
  height: 14px;
  width: 15px;
  -webkit-border-radius: 7.29px/7.01px;
  -moz-border-radius: 7.29px/7.01px;
  border-radius: 7.29px/7.01px;
  background: #dfdede;
}
.ellipse-3-copy-4-2 {
  height: 14px;
  width: 15px;
  -webkit-border-radius: 7.29px/7.01px;
  -moz-border-radius: 7.29px/7.01px;
  border-radius: 7.29px/7.01px;
  background: #050001;
}
.ellipse-3-copy-4-3 {
  height: 14px;
  width: 15px;
  -webkit-border-radius: 7.29px/7.01px;
  -moz-border-radius: 7.29px/7.01px;
  border-radius: 7.29px/7.01px;
  background: #dfdede;
}
.group-4 > * {
  display: inline-block;
  vertical-align: top;
}
.rectangle-1-copy-holder-3 {
  left: 346px;
  margin: 14px auto 0;
  min-height: 40px;
  padding: 0 45px;
  position: relative;
  width: 195px;
  -webkit-border-radius: 19.89px;
  -moz-border-radius: 19.89px;
  border-radius: 19.89px;
  background: #2d2628;
  color: #fcf9fa;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
}
.contact-me {
  margin: 50px 0 0;
  padding: 24px 0 47px;
  position: relative;
  border-right: 0.5px solid #000000; /*stroke*/
  border-left: 1px solid #000000; /*stroke*/
  border-bottom: 0.52002px solid #000000; /*stroke*/
  border-top: 1px solid #000000; /*stroke*/
  background: #2d2628;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.l-constrained-2 {
  margin: 0 auto;
  padding: 0 87px;
  position: relative;
  width: 1125px;
}
.text-11 {
  margin: 0 0 0 21px;
  color: #fcfbfb;
  font-size: 52.26195px;
  font-weight: bold;
  text-decoration: underline;
}
.row-2 {
  margin: 14px 21px 0;
  position: relative;
}
.layer-3 {
  float: left;
  margin: 5px 7px 0 0;
}
.row-3 {
  margin: 11px 21px 0;
  position: relative;
}
.layer-4 {
  float: left;
  margin: 0 8px 0 0;
}
.text-13 {
  margin: 4px 0 0;
}
.wrapper-7 {
  margin: 12px 0 0 21px;
  position: relative;
}
.layer-2 {
  float: left;
  margin: 0 8px 0 0;
}
.text-14 {
  margin: 3px 0 0;
}
.text-15 {
  clear: both;
  margin: 20px 162px 0 3px;
  font-size: 29px;
}
.row-7 {
  margin: 25px 0 0 21px;
  position: relative;
  width: 860px;
}
.rectangle-5-holder {
  float: left;
  min-height: 49px;
  padding: 0 34px;
  width: 410px;
  border: 1px solid #000000; /*stroke*/
  -webkit-border-radius: 15.5px;
  -moz-border-radius: 15.5px;
  border-radius: 15.5px;
  background: #e0dfe0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
  color: #070707;
  font-weight: 500;
  line-height: 49px;
}
.rectangle-5-copy-3-holder {
  float: right;
  min-height: 49px;
  padding: 0 33px;
  width: 402px;
  border: 1px solid #000000; /*stroke*/
  -webkit-border-radius: 15.5px;
  -moz-border-radius: 15.5px;
  border-radius: 15.5px;
  background: #e0dfe0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
  color: #070707;
  font-weight: 500;
  line-height: 49px;
}
.rectangle-5-copy-holder {
  margin: 21px 0 0 21px;
  min-height: 49px;
  padding: 8px 33px 14px;
  position: relative;
  width: 860px;
  border: 1px solid #000000; /*stroke*/
  -webkit-border-radius: 15.5px;
  -moz-border-radius: 15.5px;
  border-radius: 15.5px;
  background: #e0dfe0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
  color: #070707;
  font-weight: 500;
}
.row-8 {
  margin: 22px 21px 0;
  position: relative;
}
.rectangle-5-copy-2-holder {
  float: left;
  margin: 0 48px 0 0;
  min-height: 49px;
  padding: 0 34px;
  width: 410px;
  border: 1px solid #000000; /*stroke*/
  -webkit-border-radius: 15.5px;
  -moz-border-radius: 15.5px;
  border-radius: 15.5px;
  background: #e0dfe0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
  color: #070707;
  font-weight: 500;
  line-height: 49px;
}
.rectangle-5-copy-4-holder {
  float: left;
  margin: 1px 0 0;
  min-height: 49px;
  padding: 7px 20px 13px;
  position: relative;
  width: 218px;
  border: 1px solid #000000; /*stroke*/
  -webkit-border-radius: 24.5px;
  -moz-border-radius: 24.5px;
  border-radius: 24.5px;
  background: #dfdede;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.send-message {
 float: center;
  margin: 2px 5px -5px -2px;
}
.text-17 {
  color: #070707;
  font-size: 25.01847px;
  font-weight: 500;
}
.button {
  background-color:#dfdede;
  min-height: 49px;
  border-radius: 20px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}